

<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="modalTitleEdit" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleEdit">Editar Test</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("_Edit", "AdminTests", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <input type="hidden" name="id" value="@Model.Id" />
                    <div class="form-group">
                        <label class="control-label col-md-2" for="Identificador">Identificador</label>
                        <div class="col-md-10">
                            <input type="text" id="Identificador" name="Identificador" class="form-control" value="@Model.Identificador" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="Descripcion">Descripción</label>
                        <div class="col-md-10">
                            <input type="text" id="Descripcion" name="Descripcion" class="form-control" value="@Model.Descripcion" />
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
